<body>
  <header>
    <nav class="d-flex justify-content-around p-3">
      <a class="btn btn-primary" href="/">Home</a>
      <a class="btn btn-primary" href="/profile"> Profile </a>
      {{#if loggedIn}}
      <a id="logout" class="btn btn-primary" href="/"> Logout </a>
      {{else}}
      <a class="btn btn-primary" href="/login"> Login </a>
      {{/if}}
    </nav>
  </header>