<div class="post">
  <div class="post-title">{{name}}</div>
  <div class="post-body">
    {{description}}
  </div>
  {{!-- <div>Posted by: {{postData.user_id}}</div> --}}
  <div class="comments-container">
    {{!-- {{#each comments as |comment|}}
comment data
{{/each}} --}}
  </div>
</div>